.wrapper {
    height: 100% !important;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.main {
    float: left;
    width: 100%;
    margin: 0 auto;
}

#page1 {
    background: rgb(50, 230, 59);
    /*background: rgb(230, 217, 200);*/
    font-size: 100px;
}

.page2 {
    background: rgb(178, 74, 80);

}

#content2 {
    width: 980px;
    margin: 0 auto;
    position: relative;
}

#p2_obj1 {
    position: absolute;
    left: 418px;
    top: 77px
}

#p2_obj2 {
    position: absolute;
    left: 449px;
    top: 130px
}

#p2_obj3 {
    position: absolute;
    left: 417px;
    top: 160px
}

#p2_obj4 {
    margin: 0 auto;
    font-size: 1em;
    color: #000000;
    text-align: center;
    font-weight: bold;
    padding-top: 252px;
    height: 43px;
}

#p2_obj5 {
    margin: 0 auto;
    margin-top: 76px;
    /*margin-left: 40px;*/
}

#p2_obj6 {
    position: absolute;
    left: 66px;
    top: 410px;
}

#p2_obj7 {
    position: absolute;
    left: 172px;
    top: 410px;
}

#p2_obj8 {
    position: absolute;
    left: 278px;
    top: 410px;
}

#p2_obj9 {
    position: absolute;
    left: 388px;
    top: 410px;
}

#p2_obj10 {
    position: absolute;
    right: 388px;
    top: 410px;
}

#p2_obj11 {
    position: absolute;
    right: 278px;
    top: 410px;
}

#p2_obj12 {
    position: absolute;
    right: 172px;
    top: 410px;
}

#p2_obj13 {
    position: absolute;
    right: 66px;
    top: 410px;
}

.page3 {
    background: rgb(98, 51, 230);
}

#p2_detail {
    padding: 150px 50px;
    float: left;
    top: 100px;
    margin: 0 auto;
    /*visibility: ;*/
}

.flipped-horizontal-right {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
}

.animated {
    -webkit-transition: 5s ease-out;
    -moz-transition: 5s ease-out;
    -ms-transition: 5s ease-out;
    -o-transition: 5s ease-out;
    transition: 5s ease-out;
}

.te {

}